/* All style should go in this document. */
body {
	background-color: #434242;
	margin: 2rem;
	color: #EDE4EA;
	font: 16px Helvetica, sans-serif;
	margin-left: 10%;
	margin-right: 10%;
}


img {
	width: 80%;
	max-width: 300px;
	margin: 10 50px;
	border-radius: 10%; 
  	border-width: 5px;
  	border-style: solid;
  	border-color: #ecf0f1;

}

h1{
	text-align: center;
}

.parent{
	display: flex;
	margin-top: 10%;
	margin-bottom: 10%;
}

.left-div{
	display: inline-block;
	width: 40%;
	
}

.right-div{
flex: 1;
}

.data{
	margin-top: 10%;
	margin-bottom: 10%;
}

span.pink {
	color: #F00C41;
}