/* All style should go in this document. */
body {
	background-color: #434242;
	margin: 2rem;
	color: #EDE4EA;
	font: 16px Helvetica, sans-serif;
}


img {
	width: 30%;
	max-width: 300px;
	margin: 10 50px;
	border-radius: 10%; 
  	border-width: 5px;
  	border-style: solid;
  	border-color: #ecf0f1;

}

span.pink {
	color: #F00C41;
}